.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
}

.login-form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-icon {
    font-size: 32px;
    margin-bottom: 10px;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 18px;
}

.role-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.role-buttons button {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    background: #f1f1f1;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
    margin: 0 5px;
}

.role-buttons .selected {
    background-color: #dce1e6;
}

.login-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #1d2939;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}